<p-dialog #dialog [header]="'AzPermissions.importByService'| translate" [(visible)]="isShow" [modal]="true"
  [styleClass]="'ag-modal force-full-width'" [style]="{'width': '600px'}" closeIcon="ci ci-close"
  maximizeIcon="ci ci-maximize" minimizeIcon="ci ci-minimize" [maximizable]="true"
  [contentStyle]="{'max-height': getMaxDialogHeight()}" [autoZIndex]="true">
  <div class="col-12 md:col-12">
    <form #formElement [formGroup]="formGroup">
      <div class="col-12 md:col-12 p-fluid p-formgrid grid">
        <validation-summary #validationSummary [formElement]="formElement" [formGroup]="formGroup">
        </validation-summary>
      </div>
      <div class="col-12 md:col-12 p-fluid p-formgrid grid">
        <div class="field col-12 md:col-12">
          <label for="idAzService">{{'AzPermissions.idAzService' | translate}}</label>
          <p-dropdown formControlName="idAzService" [options]="dsServices" [autoDisplayFirst]="false"
            dropdownIcon="ci ci-chevron-down-1" appendTo="body" [(ngModel)]="idAzService" [filter]="true"
            filterBy="label,value">
          </p-dropdown>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="col-12 md:col-12">
      <div class="col-8 md:col-8 fl h-text-left">
      </div>
      <div class="col-4 md:col-4 fr">
        <button pButton pRipple type="button" label="{{'BUTTON.SAVE' | translate}}" icon="pi pi-save"
          [disabled]="submitting" class="p-button mr-2 mb-2" *ngIf="idAzService > 0" (click)="save()"
          authorize="[{'core':'azpermissions/1'}]"></button>

      </div>
    </div>
  </p-footer>
</p-dialog>
